/GameRecord/logs
/GameRecord/target
/GameRecord/HELP.md
/GameRecord/mvnw
/GameRecord/mvnw.cmd
/GameRecord/.mvn
/GameRecord/.settings
/GameRecord/.classpath
/GameRecord/.project
/.settings
/target
/.classpath
/.project
/logs
