<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h2>新增玩家</h2>

	<!-- 表單送到 /big2/add_players -->
	<form th:action="@{/big2/big2_add_game_info}" method="post">


		<!-- 顯示遊戲場次名稱 (不可編輯) -->
		<div>
			<label for="game_title">場次名稱：</label>
			<input type="text" id="game_title" name="game_title" />
		</div>

		<br />

		<!-- 動態產生玩家輸入欄位 -->
		<div>
			<label>請輸入玩家名稱：</label>
			<br />
			<div th:each="i : ${#numbers.sequence(1, gamePlayNum)}">
				<label th:text="'玩家 ' + ${i} + '：'"></label>
				<input type="text" name="players" placeholder="請輸入玩家名稱" />
				<br />
			</div>
		</div>

		<br />
		<button type="submit">送出</button>

	</form>
</body>

</html>