<!DOCTYPE html>
<html lang="en">

<!-- 引入共用 head -->
<head th:replace="~{fragment/head :: head-components}"></head>


<style>
/* 手機小畫面時調小字體與輸入欄、按鈕、欄位 */
@media ( max-width : 768px) {
}

a, button {
	white-space: nowrap;
}
</style>


<body>
	<!-- 引入共用 top -->
	<div th:replace="~{fragment/top :: top-components}"></div>

	<div class="container py-3">
		<h2>新增遊戲場次</h2>
	
		<!-- 表單開始 -->
		<form th:action="@{/desk_creat}" method="get">
			<div class="row g-2 align-items-center">
				<!-- 下拉選單欄位 -->
				<div class="col-md-8">
					<select class="form-select" name="playerCount" aria-label="Default select example" required>
						<option value="" selected disabled>選擇玩家人數</option>
						<option value="2">2位</option>
						<option value="3">3位</option>
						<option value="4">4位</option>
						<option value="5">5位</option>
						<option value="6">6位</option>
						<option value="7">7位</option>
						<option value="8">8位</option>
					</select>
				</div>
	
				<!-- 按鈕欄位 -->
				<div class="col-md-4">
					<button type="submit" class="btn btn-primary w-100">新增</button>
				</div>
			</div>
		</form>
		<!-- 表單結束 -->
	</div>


	<div class="container py-3">
		<h2>歷史記錄</h2>
		
		<!-- 從後端傳回的deskInfoList變成欄位顯示出來 -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">編號</th>
					<th scope="col">場名</th>
					<th scope="col">建立時間</th>
					<th scope="col">操作</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="deskInfo : ${deskInfoList}">
					<td th:text="${deskInfo.id}"></td>
					<td th:text="${deskInfo.deskName}"></td>
					<td th:text="${#dates.format(deskInfo.datime, 'yyyy-MM-dd HH:mm:ss')}"></td>
					<td>
						<a th:href="@{/score_info/{uuid}(uuid=${deskInfo.uuid})}" 
							class="btn btn-info text-white">繼續</a>
					</td>
					<td>
					    <form th:action="@{/desk_delete/{uuid}(uuid=${deskInfo.uuid})}" method="post" 
					          onsubmit="return confirm('確定要刪除嗎？');">
					        <button type="submit" class="btn btn-secondary text-white">刪除</button>
					    </form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<!-- 引入共用 foot -->
	<div th:replace="~{fragment/foot :: foot-components}"></div>

	<!-- 引入共用 js -->
	<div th:replace="~{fragment/js :: js-components}"></div>

</body>

</html>