<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h2>大老二-遊戲記錄表</h2>
	<br>
	<form th:action="@{/big2/new_big2}" method="post">
		<label for="playerNum">玩家人數</label>
		<input type="tel" name="playerNum" id="playerNum">
		<input type="submit" vlaues="新增遊戲">
	</form>
	
	<!-- 場次記錄 -->
	<h3>場次記錄</h3>
	<table border="1" cellpadding="6">
	    <thead>
	        <tr>
	            <th>項次</th>
	            <th>場次代號</th>
	            <th>時間</th>
	            <th>狀態</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="desk, idx : ${hisDeskResponseDto}">
	            <td th:text="${idx.index + 1}">1</td>
	            <td th:text="${desk.deskUuid}">UUID</td>
	            <td th:text="${desk.datetime}">2025-06-19 22:00</td>
	            <td>
	                <form th:action="@{/big2/record_list/{uuid}(uuid=${desk.deskUuid})}" method="get">
	                    <button type="submit">繼續</button>
	                </form>
	            </td>
	        </tr>
	    </tbody>
	</table>
</body>

</html>