<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h2>新增玩家</h2>

	<!-- 表單送到 /big2/add_players -->
	<form th:action="@{/big2/add_player}" method="post">
	
		<!-- 場次資料 -->
		<div>
			<label for="deskName">請輸入場地名稱：</label> <br />
				<input type="text" name="deskName" id="deskName" placeholder="請輸入本場名稱" /> <br />
			</div>
		</div>

		<!-- 動態產生玩家輸入欄位 -->
		<div>
			<label>請輸入玩家名稱：</label> <br />
			<div th:each="i : ${#numbers.sequence(1, playerNum)}">
				<label th:text="'玩家 ' + ${i} + '：'"></label> <input type="text"
					name="playerName" placeholder="請輸入玩家名稱" /> <br />
			</div>
		</div>

		<br />
		<button type="submit">送出</button>
		<br />
	</form>
	<button type="button">
		<a th:href="@{/index}">返回</a>
	</button>
</body>

</html>